@import "variable";
@import "variable";
@import "mixing";
@import "../public/fonts/fonts.css";

/* Button Css Start Here... */
.primaryBtn{
  &.MuiButton-root{
    height: 40px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #0070b3;
    padding: 0 20px;
    border: 0;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    background: $gray-light-color;
    outline: none;
    &:hover, &:focus{
      background: lighten($blue-light-color, 8%);
      outline: none;
    }
  }
  &.btnLg{
    height: 50px;
    font-size: $size14;
    font-weight: 600;
    line-height: 50px;
    padding: 0 $size30;
  }
}

.primaryBtnBorder{
  &.MuiButton-root{
    height: 40px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: $primary-color;
    padding: 0 20px;
    border: 2px solid $primary-color;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    outline: none;
    &:hover, &:focus{
      background: lighten($primary-color, 8%);
      border-color: lighten($primary-color, 8%);
      color: white;
      outline: none;
    }
  }
  &.btnLg{
    height: 50px;
    font-size: $size14;
    font-weight: 600;
    line-height: 50px;
    padding: 0 $size30;
  }
  &.btn-block{
    width: 100%;
  }
}

.linkButton{
  &.MuiButton-root{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.8px;
    padding: $size10;
    cursor: pointer;
    color: $primary-color;
    outline: none;
    &:hover, &:focus{
      color: $cosmic-cobalt-color;
      outline: none;
      background: transparent;
    }
  }
}