// Color Variable
$primary-color: #2e8b57;
$blue-color: #0070ff;
$success-color: #33cc66;
$warning-color: #fdb913;
$danger-color: #ff3333;
$gray-color:#456651;
$gray-light-color:#f5f5f5;
$pink-light-color:#ffd6f4;
$blue-dark-color:#173e67;
$cosmic-cobalt-color: #171725;
$blue-light-color:#a0b0c0;
$yellow-light-color: #fffbde;
$blue-slate-color:#181824;
$grey-battleship-color:#484848;

// Font & Line Height Variable
$size4: 4px;
$size6: 6px;
$size8: 8px;
$size10: 10px;
$size12: 12px;
$size14: 14px;
$size16: 16px;
$size18: 18px;
$size20: 20px;
$size22: 22px;
$size24: 24px;
$size26: 26px;
$size28: 28px;
$size30: 30px;
$size32: 32px;
$size34: 34px;
$size36: 36px;
$size38: 38px;
$size40: 40px;
